.footer{
	background: url(../pictures/background/C.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 47vw;
	left: 0;
	bottom: 0;
}
.footer__block{
	width: 100%;
	padding-top: 9.766vw;
}
.footer__column{
	margin-top: 7.324vw;
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.footer__item{
	display: flex;
	flex-direction: column;
}
.footer__link{
	color: #d25230;
	text-decoration: underline;
	font-size: 1.3vw;
	margin: 0.488vw 0 0.488vw 0;
}